.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	font-size: 1.5rem;
	.popup {
		box-shadow: 0rem 1rem 1rem 0.5rem rgba(#000, 0.2);
		display: flex;
		justify-content: space-evenly;

		align-items: center;
		flex-direction: column;
		min-width: 30rem;
		min-height: 15rem;
		background-color: #fff;
		border-radius: 0.8rem;

		.btn {
			padding: 5px 10px;
			background-color: rgb(54, 171, 187);
			color: #fff;
			cursor: pointer;
			border-radius: 0.5rem;
		}
	}
}
