.login {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.form-wrapper {
		display: flex;
		flex-direction: column;
		width: 30rem;
		padding: 1rem;
		background-color: #fff;
		align-items: center;
		justify-content: center;
		border-radius: 0.6rem;
		box-shadow: 0rem 1rem 2rem 0.8rem rgba(0, 0, 0, 0.1);
	}
	.input-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		input {
			padding: 0.3rem;
			width: 15rem;
		}
		label {
			margin-bottom: 5px;
		}
	}
	button {
		border: none;
		background-color: rgb(54, 171, 187);
		color: #fff;
		padding: 0.5rem 1rem;
		border-radius: 5px;
		cursor: pointer;
		outline: none;
		transition: all 0.1s ease-out;
		&:hover {
			transform: translateY(-3px);
			box-shadow: 0px 5px 8px 8px rgba(54, 171, 187, 0.2);
		}
	}
}
